---
Create multiple tables in SQL for the data you scrapped about cities from Wikipedia. One should just be a table about the cities, the others should be facts about the cities.

| city_id | city |
| --- | --- |
| 1 | Berlin |
| 2 | Hamburg |
| 3 | Munich |

<br>

| City ID | Population | Year Data Retrieved |
|---|---|---|
| 1 | 3,850,809 | 2024 |
| 2 | 1,945,532 | 2024 |
| 3 | 1,512,491 | 2024 |

> **Pro Tip:** Visualise your relational database with pen and paper before you start coding. This can help you to identify any potential problems or inconsistencies in your design, and it can also make the coding process more efficient.

## Step 1: define a function to catch all the facts of different cities from Wikipedia using Beautiful Soup

In [2]:
# preparation: install every possible libraries and tools that will be used in the function or later
!pip install lat_lon_parser
from lat_lon_parser import parse
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime

# define fetch_city_info() function:
def fetch_city_info(cities):
# prepare an empty list for storing all information from web scraping
      city_data = []

      # a for loop in order to automatically catch the city facts information from cities list
      for city in cities:
          # construct the URL for the Wikipedia page of the current city
          url = f"https://en.wikipedia.org/wiki/{city}"
          # send an HTTP GET request to fetch the content of the Wikipedia page
          response = requests.get(url)
          # parses the HTML content of the page using BeautifulSoup, allowing you to navigate and extract specific elements from the webpage
          city_soup = BeautifulSoup(response.content, 'html.parser')

          try:
              
                # extract the city's main title from the Wikipedia page (usually the city name)
                city_name = city_soup.find('span', class_='mw-page-title-main').text
                # extract the first piece of information from the infobox (often the country name, e.g., "Germany")
                city_country = city_soup.find_all(class_='infobox-data')[0].get_text()
                # extract the raw latitude string from the page (e.g., "52.5200¬∞N")
                city_lat_raw = city_soup.find_all('span', class_='latitude')[0].get_text()
                # extract the raw longitude string from the page (e.g., "13.4050¬∞E")
                city_lon_raw = city_soup.find('span', class_='longitude').get_text()

                # use parse function from lat_lon_parser to turn the latitude and longitude into decimal
                city_lat_decimal = parse(city_lat_raw)
                city_lon_decimal = parse(city_lon_raw)
                
                # append the extracted and converted data to the city_data list
                # the dictionary contains the city's name, country, and coordinates in decimal format
                city_data.append({
                    'city_name': city_name,
                    'country': city_country,
                    'latitude': city_lat_decimal,
                    'longitude': city_lon_decimal
                })
          # if any error occurs in the try block (e.g., data not found or parse error),
          # this except block will catch the exception and print an error message
          except Exception as e:
                print(f"‚ùå Error fetching data for {city}: {e}")

      return pd.DataFrame(city_data)

Requirement already satisfied: lat_lon_parser in c:\users\43437\anaconda3\lib\site-packages (1.3.1)

In [4]:
# call the function fetch_city_info()
cities = ['Berlin', 'Hamburg', 'Munich', 'Frankfurt', 'Cologne', 'Stuttgart', 'D√ºsseldorf']
cities_df = fetch_city_info(cities)
cities_df

    city_name  country   latitude  longitude
0      Berlin  Germany  52.520000  13.405000
1     Hamburg  Germany  53.550000  10.000000
2      Munich  Germany  48.137500  11.575000
3   Frankfurt  Germany  50.110556   8.682222
4     Cologne  Germany  50.936389   6.952778
5   Stuttgart  Germany  48.777500   9.180000
6  D√ºsseldorf  Germany  51.225556   6.776667

## Step 2 connect to local MySQL DBMS

In [6]:
# ‚úîÔ∏è Check whether there is a program (such as MySQL) running on your machine and listening on port 3306

import socket

sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
result = sock.connect_ex(("127.0.0.1", 3306))
print("‚úÖ Port open" if result == 0 else f"‚ùå Port closed (code: {result})")
sock.close()

‚úÖ Port open

In [12]:
# install preparation tools such as pymysql, sqlalchemy, quote_plus 
!pip install pymysql
import pymysql
!pip install sqlalchemy
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pandas as pd

# connect to local Mysql DBMS
user = "root"
password = quote_plus("YOUR_PASSWORD")  # have to use quote_plusÔºåin order to URL. Please replace the YOUR_PASSWORD with your own MySQL DBMS password
host = "127.0.0.1"
port = 3306
database = "sql_city"

connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"
print("üîó Connecting with:", connection_string)

engine = create_engine(connection_string)

# test for executing the database query
df = pd.read_sql("SHOW TABLES", con=engine)
print("‚úÖ successfully connected and had access toÔºö")
print(df)

Requirement already satisfied: pymysql in c:\users\43437\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in c:\users\43437\anaconda3\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\43437\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\43437\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
üîó Connecting with: mysql+pymysql://root:password@127.0.0.1:3306/sql_city
‚úÖ successfully connected and had access toÔºö
  Tables_in_sql_city
0             cities
1        cityairport
2         cityflight
3           cityiata
4     citypopulation
5        cityweather

In [8]:
# send dataframe to MySQL DBMS
cities_df.to_sql('cities',
                  if_exists='append',
                  con=connection_string,
                  index=False)

7

In [10]:
# do a contrast procedure to send data back to Jupyter Notebook from MySQL DBMS
cities_from_sql = pd.read_sql("cities", con=connection_string)
cities_from_sql

   city_id   city_name  country  latitude  longitude
0        1      Berlin  Germany    52.520     13.405
1        2     Hamburg  Germany    53.550     10.000
2        3      Munich  Germany    48.138     11.575
3        4   Frankfurt  Germany    50.111      8.682
4        5     Cologne  Germany    50.936      6.953
5        6   Stuttgart  Germany    48.777      9.180
6        7  D√ºsseldorf  Germany    51.226      6.777

In [23]:
# try directly run MySQL query in python without sending back the data
pd.read_sql("""
            SELECT DISTINCT city_name
            FROM cities
            """,
            con=connection_string)

    city_name
0      Berlin
1     Hamburg
2      Munich
3   Frankfurt
4     Cologne
5   Stuttgart
6  D√ºsseldorf

In [18]:
# store city_id as a dataframe for later use.city_id is generated in MySQL cities table 
cities_id_df = cities_from_sql [["city_id", "city_name"]]
cities_id_df

   city_id   city_name
0        1      Berlin
1        2     Hamburg
2        3      Munich
3        4   Frankfurt
4        5     Cologne
5        6   Stuttgart
6        7  D√ºsseldorf

## Step 3: define a function to catch all the population information of different cities from Wikipedia using Beautiful Soup

In [57]:
# preparation: install every possible libraries and tools that will be used in the function or later
import pandas as pd
import requests
from bs4 import BeautifulSoup
from lat_lon_parser import parse
from datetime import datetime
import re

cities = ['Berlin', 'Hamburg', 'Munich', 'Frankfurt', 'Cologne', 'Stuttgart', 'D√ºsseldorf']
# define a function named fetch_population that takes a list of city names (cities) as input
def fetch_population(cities):
    # initialize an empty list to store population data for each city
    population_data = []
    # start a loop to go through each city in the input list
    for city in cities:
        # construct the URL for the Wikipedia page of the current city
        url = f"https://en.wikipedia.org/wiki/{city}"
        # send an HTTP GET request to fetch the content of the Wikipedia page
        response = requests.get(url)
        # parses the HTML content of the page using BeautifulSoup, allowing you to navigate and extract specific elements from the webpage
        city_soup = BeautifulSoup(response.content, 'html.parser')

        # default: population is None (i.e. return value if extraction fails)
        city_population_clean = None

        try:
            # firstly, try to extract the population from the cell (<td>) following the "Population" label
            pop_text = city_soup.find(string="Population").find_next("td").get_text()

            # use regex to extract the numeric population (accepts commas or dots, e.g. "1,234,567" or "1.234.567")
            match = re.search(r'[\d,.]+', pop_text)

            if match:
                # If a population number is found, remove commas and dots and convert to integer
                city_population_clean = int(match.group(0).replace(",", "").replace(".", ""))
        except:
            # If the first method fails (e.g. due to unexpected page structure)
            try:
                # secondly, backup method ‚Äî look for table with class "infobox"
                infobox = city_soup.find('table', class_='infobox')

                if infobox:
                    #  loop through all rows (<tr>) in the infobox
                    for row in infobox.find_all('tr'):
                        header = row.find('th')

                        # look for the row with "Population" in the header
                        if header and 'Population' in header.text:
                            cell = row.find('td')

                            # extract population number from the corresponding <td> cell
                            match = re.search(r'[\d,.]+', cell.text)

                            if match:
                                city_population_clean = int(match.group(0).replace(",", "").replace(".", ""))
                                break  # Exit loop once population is found
            except:
                pass  # If backup method also fails, keep city_population_clean as None

        # if the city is Frankfurt and population is still None, assign default value
        if city.lower() == "frankfurt" and city_population_clean is None:
            city_population_clean = 773068

        today = datetime.today().strftime("%d.%m.%Y")

        population_data.append({
            "city_name": city,
            "population": city_population_clean,
            "population_timestamp": today
        })

    return pd.DataFrame(population_data)

In [50]:
#call the function fetch_population(cities)
population_df = fetch_population(cities)
population_df

    city_name  population population_timestamp
0      Berlin     3596999           23.05.2025
1     Hamburg     1964021           23.05.2025
2      Munich     1510378           23.05.2025
3   Frankfurt      773068           23.05.2025
4     Cologne     1024408           23.05.2025
5   Stuttgart      632865           23.05.2025
6  D√ºsseldorf      616319           23.05.2025

In [20]:
# merge the population_df with cities_id_df. For later sending it into MySQL and make multi-primary keys
citypopu_df = pd.merge(population_df, cities_id_df, on="city_name", how="inner")
citypopu_df

    city_name  population population_timestamp  city_id
0      Berlin     3596999           22.05.2025        1
1     Hamburg     1964021           22.05.2025        2
2      Munich     1510378           22.05.2025        3
3   Frankfurt      773068           22.05.2025        4
4     Cologne     1024408           22.05.2025        5
5   Stuttgart      632865           22.05.2025        6
6  D√ºsseldorf      616319           22.05.2025        7

In [22]:
# check if every column has the right data type
citypopu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   city_name             7 non-null      object
 1   population            7 non-null      int64
 2   population_timestamp  7 non-null      object
 3   city_id               7 non-null      int64
dtypes: int64(2), object(2)
memory usage: 356.0+ bytes

In [24]:
# change the data type of column "population_timestamp" into datetime with format day.month.year in order to correctly match with data type in MySQL table 
citypopu_df["population_timestamp"] = pd.to_datetime(
    citypopu_df["population_timestamp"], format="%d.%m.%Y"
)

In [26]:
# firstly, we created the table in MySQL and defined the data types for each column
# after above step, we can send citypopu_df to MySQL -- under schema sql_city, there is an empty table called "citypopulation"
citypopu_df.to_sql('citypopulation',
                if_exists='append',
                con=connection_string,
                index=False)

7